.header {
  text-align: center;
  font-weight: bold;
}

h3 {
  text-align: center;
}

.column {
  padding-right: 10px;
  float: left;
  background-color: aqua;
}

img {
  width: 32vw;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
